<module name="TreeWalker">
    <module name="SuppressionXpathSingleFilter">
        <property name="checks" value="VisibilityModifier"/>
        <property name="query" value="//*[MODIFIERS//*[@text = 'Value']]/descendant-or-self::node()"/>
    </module>
    <module name="HiddenField">
        <property name="tokens" value="VARIABLE_DEF"/>
    </module>
</module>

